<h1 style="margin-left: 20px; margin-top: 20px">LOGIN</h1>
<form action="/api/users/login" method="post" style="margin-left: 20px; margin-top: 20px">
    Email: <input type="email" name="email" id="email">
    Password: <input type="password" name="password" id="password">
    <input type="submit" value="Login">
</form>

<br>
<br>
<button style="margin-left: 20px" onclick="location.href='/registro'">Registro</button>
<br>
<br>
<h2 style="margin-left: 20px; margin-top: 20px">Login con Github</h2>
<button style="margin-left: 20px" onclick="location.href='/api/users/loginGithub'">Github</button>